# Database
DATABASE_URL="postgresql://tani:tani@localhost:5432/tani_iot?schema=public"
# untuk prod dragon: postgresql://tani:tani@localhost:5433/tani_iot?schema=public

# Auth
JWT_SECRET="ganti-jwt-secret-min-32-karakter-random-di-sini"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
BCRYPT_ROUNDS="12"

# App
PORT="3101"
WEB_URL="http://localhost:3100"
NODE_ENV="development"

# MQTT (EMQX)
MQTT_URL="mqtt://localhost:1883"
MQTT_USERNAME=""
MQTT_PASSWORD=""

# Redis
REDIS_URL="redis://localhost:6379"

# AI - Gemini Vision (Doctor Tani)
GEMINI_API_KEY=""
# Alternatif OpenAI
OPENAI_API_KEY=""

# Upload
UPLOAD_DIR="./uploads"
MAX_UPLOAD_MB="10"

# FCM (opsional push mobile)
FCM_SERVER_KEY=""

# Superadmin seed
SEED_ADMIN_EMAIL="admin@tani-iot.local"
SEED_ADMIN_PASSWORD="Admin123!"
